<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}PostIt App{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <main>
{% load static %}
{% if user.is_authenticated %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'postitapp:home' %}"><img style="width: 130px; height: 50px" src="{% static 'images/logo.png' %}" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View
        </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">All Posts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" >Your Posts</a>
        </div>
      </li>
      <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu mb-1" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'accounts:profile' %}">Manage</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'password_reset' %}">Reset password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>
 
    </ul>

    {% if user.userprofile.image %}
        <ul class="navbar-nav text-right nav-flex-icons">
          <li class="nav-item avatar">
            <a class="nav-brand p-0">
              <label>{{user}} </label> 
              <img class="border border-info" style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;" 
              src="{{ user.userprofile.image.url }}" ></img>
            </a>
          </li>
        </ul>
    {% else %}
    <ul class="navbar-nav text-right nav-flex-icons">
          <li class="nav-item avatar">
            <a class="nav-brand p-0">
              <label>{{user}} </label> 
              <img class="border border-info" style="vertical-align: middle; width: 50px; height: 50px; border-radius: 50%;" 
              src="{% static '/images/Default.png' %}" ></img>
            </a>
          </li>
        </ul>
    {% endif %}
         
  </div>
</nav>
  <hr>
{% else %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'postitapp:home' %}"><img style="width: 130px; height: 50px" src="{% static 'images/logo.png' %}" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
      </li>

     
    </ul>
  </div>
</nav>
  <hr>
{% endif %}


  </main>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>