{% include 'base.html' %}
<form action="{% url 'postitapp:create_post'  %}" method="post">
    {% csrf_token %} 
    <div class="container">
    {% if error  %}
        <p style="color:red"><i>{{ error  }}</i></p>
    {% endif  %}
    <label>Title</label>
    <div class="form-group">     
    <input class="form-control" type="text" name="title"></input>
    <br/>
    <label>Write your Postin</label>
    <textarea class="form-control" rows="10" cols="60" name="body"></textarea>
    </div>
    <button type="submit" name="post_submit" class="btn btn-info">Create post</button>
    <button type"submit" name="draft_submit" class="btn btn-info">Save Draft</button>
    </div>
</form>


