{% include 'base.html' %}
<div class="container border rounded">
    

<ul>
{% block body %}

<h3>{{ post.title }}</h3>
<div class="mb-2">
     {% include 'picture_post.html' %}
</div>

    
<div class="container rounded border mb-3">
    <p>{{ post.body }}</p>    
</div>

<hr>
<h5>Comments</h5>
{% for comment in comments %}

        {% include 'picture_comment.html' %}
            </p> 
            <label>{{ comment.body }}</label>    
        </div>
    </a>
    {% endfor %}
{% endblock %}


<form action="{% url 'postitapp:create_comment' %}" method="post">
    {% csrf_token %} 
    <div class="container">
    <div class="form-group">     
    <br/>
    <input type="hidden" name="id" value="{{post.id}}">
    <label>Write your comment to the Postin</label>
    <textarea class="form-control" rows="10" cols="60" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-info">Create comment</button>
    </div>
</form>
</ul>

