{% include 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'postitapp/style.css' %}">

<div class="container">
    <h1>Your Posts</h1>
    <a style="text-decoration:none;" href="{% url 'postitapp:create_post' %}">Create post</a>
<div>
<br>
<ul>
{% for post in your_posts %}
    <a href="{% url 'postitapp:post' post.pk %}" style="text-decoration: none; color:black">    

    <div class="container border mb-3 rounded hover">
        <p>Title: {{ post.title }}</p>
        <hr>
        <p>Author: {{ post.user.username }}</p>
        <hr>        
        <p>{{ post.body }}</p>    
    </div>
    </a>
{% endfor %}
</ul>

